:root {
  --content-akshar-font-family: "Akshar-Regular", Helvetica;
  --content-akshar-font-size: 96px;
  --content-akshar-font-style: normal;
  --content-akshar-font-weight: 400;
  --content-akshar-letter-spacing: 0px;
  --content-akshar-line-height: 100%;
  --content-dopio-one-font-family: "DoppioOne-Regular", Helvetica;
  --content-dopio-one-font-size: 16px;
  --content-dopio-one-font-style: normal;
  --content-dopio-one-font-weight: 400;
  --content-dopio-one-letter-spacing: 2.56px;
  --content-dopio-one-line-height: normal;
  --content-inter-font-family: "Inter-Regular", Helvetica;
  --content-inter-font-size: 15px;
  --content-inter-font-style: normal;
  --content-inter-font-weight: 400;
  --content-inter-letter-spacing: 0px;
  --content-inter-line-height: normal;
  --content-lora-font-family: "Lora-Regular", Helvetica;
  --content-lora-font-size: 12px;
  --content-lora-font-style: normal;
  --content-lora-font-weight: 400;
  --content-lora-letter-spacing: 0px;
  --content-lora-line-height: normal;
  --content-open-sans-font-family: "OpenSans-Regular", Helvetica;
  --content-open-sans-font-size: 15px;
  --content-open-sans-font-style: normal;
  --content-open-sans-font-weight: 400;
  --content-open-sans-letter-spacing: 0px;
  --content-open-sans-line-height: 100%;
  --designer-amatic-SC-font-family: "AmaticSC-Regular", Helvetica;
  --designer-amatic-SC-font-size: 36px;
  --designer-amatic-SC-font-style: normal;
  --designer-amatic-SC-font-weight: 400;
  --designer-amatic-SC-letter-spacing: 0px;
  --designer-amatic-SC-line-height: normal;
  --designer-coming-soon-font-family: "ComingSoon-Regular", Helvetica;
  --designer-coming-soon-font-size: 96px;
  --designer-coming-soon-font-style: normal;
  --designer-coming-soon-font-weight: 400;
  --designer-coming-soon-letter-spacing: 0px;
  --designer-coming-soon-line-height: 100%;
  --designer-handlee-font-family: "Handlee-Regular", Helvetica;
  --designer-handlee-font-size: 64px;
  --designer-handlee-font-style: normal;
  --designer-handlee-font-weight: 400;
  --designer-handlee-letter-spacing: 0px;
  --designer-handlee-line-height: 100%;
  --designer-post-no-bills-font-family: "PostNo Bills Colombo Medium-Regular", Helvetica;
  --designer-post-no-bills-font-size: 40px;
  --designer-post-no-bills-font-style: normal;
  --designer-post-no-bills-font-weight: 400;
  --designer-post-no-bills-letter-spacing: 0px;
  --designer-post-no-bills-line-height: 100%;
  --designer-satisfy-font-family: "Satisfy-Regular", Helvetica;
  --designer-satisfy-font-size: 96px;
  --designer-satisfy-font-style: normal;
  --designer-satisfy-font-weight: 400;
  --designer-satisfy-letter-spacing: 0px;
  --designer-satisfy-line-height: normal;
  --heading-chakra-petch-font-family: "ChakraPetch-SemiBold", Helvetica;
  --heading-chakra-petch-font-size: 96px;
  --heading-chakra-petch-font-style: normal;
  --heading-chakra-petch-font-weight: 600;
  --heading-chakra-petch-letter-spacing: 0px;
  --heading-chakra-petch-line-height: 100%;
  --heading-merriweather-font-family: "Merriweather-Regular", Helvetica;
  --heading-merriweather-font-size: 96px;
  --heading-merriweather-font-style: normal;
  --heading-merriweather-font-weight: 400;
  --heading-merriweather-letter-spacing: 0px;
  --heading-merriweather-line-height: normal;
  --heading-montserrat-font-family: "Akshar-Regular", Helvetica;
  --heading-montserrat-font-size: 96px;
  --heading-montserrat-font-style: normal;
  --heading-montserrat-font-weight: 400;
  --heading-montserrat-letter-spacing: 0px;
  --heading-montserrat-line-height: 100%;
  --heading-oswald-font-family: "Oswald-SemiBold", Helvetica;
  --heading-oswald-font-size: 96px;
  --heading-oswald-font-style: normal;
  --heading-oswald-font-weight: 600;
  --heading-oswald-letter-spacing: 0px;
  --heading-oswald-line-height: normal;
  --heading-perpetua-font-family: "Perpetua-Regular", Helvetica;
  --heading-perpetua-font-size: 40px;
  --heading-perpetua-font-style: normal;
  --heading-perpetua-font-weight: 400;
  --heading-perpetua-letter-spacing: 0px;
  --heading-perpetua-line-height: 108.00000429153442%;
  --heading-playfair-display-font-family: "PlayfairDisplay-SemiBold", Helvetica;
  --heading-playfair-display-font-size: 96px;
  --heading-playfair-display-font-style: normal;
  --heading-playfair-display-font-weight: 600;
  --heading-playfair-display-letter-spacing: 0px;
  --heading-playfair-display-line-height: 100%;
  --modern-dot-gothic-font-family: "DotGothic16-Regular", Helvetica;
  --modern-dot-gothic-font-size: 16px;
  --modern-dot-gothic-font-style: normal;
  --modern-dot-gothic-font-weight: 400;
  --modern-dot-gothic-letter-spacing: 0px;
  --modern-dot-gothic-line-height: normal;
  --modern-oxanium-font-family: "Oxanium-Regular", Helvetica;
  --modern-oxanium-font-size: 96px;
  --modern-oxanium-font-style: normal;
  --modern-oxanium-font-weight: 400;
  --modern-oxanium-letter-spacing: 0px;
  --modern-oxanium-line-height: 108.00000429153442%;
  --modern-zen-dots-font-family: "ZenDots-Regular", Helvetica;
  --modern-zen-dots-font-size: 96px;
  --modern-zen-dots-font-style: normal;
  --modern-zen-dots-font-weight: 400;
  --modern-zen-dots-letter-spacing: 0px;
  --modern-zen-dots-line-height: normal;
}
